<footer class="footer">
    <!-- Artistry Fusion Section -->
    <div class="artistry-fusion-container">
        <h1>ARTISTRY FUSION!!</h1>
        <p>Where Art Unfolds</p>
        
        <!-- Social Media Icons -->
        <div class="social-media-icons">
            <img src="twitter.jpg" alt="Twitter">
            <img src="insta.jpg" alt="Instagram">
            <img src="facebook.jpg" alt="Facebook">
        </div>
    </div>
    
    <div class="explore-text">Explore</div>
        <div class="footer-text">Art<br/>Photography<br/>Music<br/>Games</div>        
        <div class="resources-text">Resources</div>
        <div class="help-text">Help Centre<br/>Partners<br/>Suggestions<br/>Newsletters</div>
        <div class="company-text">Company</div>
        <div class="about-text">About<br/>Careers<br/>Ranking<br/>Activity</div>
        
    
    
</footer>
