<header>
    <div class="header">
    <img class="logo" src="logo.jpeg" alt="Logo">
                <a href="home.html">
                    <div class="menu-item" style="left: 139px;">HOME</div>
                </a>
                <a href="home.html#explore-artworks">
                    <div class="menu-item" style="left: 266px;">EXPLORE</div>
                </a>
                <a href="home.html#artist">
                    <div class="menu-item" style="left: 425px;">ARTISTS</div>
                </a>
                <a href="home.html#news">
                    <div class="menu-item" style="left: 579px;">NEWS</div>
                </a>
                <div class="search-bar">
                    <input type="text" id="search-text" class="search-text" placeholder="Search for art, artist, or type">
                </div>
                <a href="profile.html">
                <img class="profile-img" src="profile.jpg" alt="Profile">
            </a>
            </div>
</header>