<header class="header">
        <img class="logo" src="logo.jpeg" />
        <div class="home-header">HOME</div>
        <a href="#explore-artworks"><div class="explore-header">EXPLORE</div></a>
        <a href="#artist"><div class="artist-header">ARTISTS</div></a>
        <a href="#news"><div class="news-header">NEWS</div></a>
        

        <!-- sign up login border -->
        <div class="search">
            <input type="text" id="search-text" class="search-text" placeholder="Search for art, artist or type" />
        </div>
        <div class="login-bg"></div>

        <!-- login signup and profile and search -->
        
        <a href="login.html">
            <div class="login-signup-text">Log In/ Sign Up</div>
        </a>
        <a href="profile.html">
            <img class="profile-img" src="profile.jpg">
        </a>

</header>
