<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{#if headerPartial}}
        {{> (lookup . headerPartial) }}  <!-- Dynamically load the header partial -->
    {{else}}
        {{> header }}  <!-- Default to header if no headerPartial is passed -->
    {{/if}}

    {{{body}}}  <!-- Render the main content of the page -->

    
        {{> footer}}  <!-- Include footer partial -->
    
</body>
</html>

